.hidden {
    display: none; /* This is the magic line */
}

/* We also need a class to show the content */
.full-content.visible {
    display: block; /* Or flex, or grid, depending on your layout */
}


.cards{
    background-color: bisque;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    
}       